{% extends 'base.html' %}

{%block head%}
{% load get_rating %}
{% load static %}
<link rel="stylesheet" href="{% static 'individual.css'%}">
{%endblock%}
{% block body %}
<div class="main_content">
    <div class="img_div">
        <img src="{{media_url}}{{obj.img}}" />
    </div>
    <div class="description_div">
        <div class="main_description">
            <br>
            {{obj.brand}}-{{obj.product_name}} <br>
            colour:{{obj.colour}} 
            <div class="rating">
                {% get_rating obj as r %}
                {% for i in r%}
                <img src="{% static i %}">
                {% endfor%}
            </div>

            <br>
            <h1 style="color: red;display: inline;">-{{obj.discount}}%</h1>
            <h1 style="color:rgb(212, 194, 91);display: inline;margin-bottom:20px;"> ₹{{obj.price}}/-</h1>
            <br>
        </div>
        <div class="action_div">
            <form action="" method="post" id="action_div_form">
                <select name="size" id="size" required>
                    <option value="" hidden>Choose size</option>
                    <option name="Small">Small</option>
                    <option value="Medium">Medium</option>
                    <option value="Large">Large</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                </select>
                <br>
                <!-- <label for="count"> </label>  -->
                <input type="number" name="count" placeholder="Quantity">
                <input type="hidden" name="product_id" value={{obj.id}}>
                <br>
                <button type="submit" formaction='/cart/add_to_cart/' class="f_btn">Add to cart</button>
                <button type="submit" formaction='/buy_now' class="f_btn">Buy Now</button>
                {% csrf_token %}
            
            </form>

        </div>
    </div>

</div>
{% endblock%}